<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<!-- iOS でデバッグが必要になった時用 ---
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		<script src="./SadConsole.js"></script>
	---- --------- -->
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<link rel="stylesheet" href="style.css">
	
	<script src="./Plot.js"></script>
	<script src="./Auch.js"></script>
	<script src="./script.js"></script>
	
	<title>Sound Analysis</title>
</head>
<body role="application">
	<!--<section id="section-console"></section>-->
	<main>
		<section class="section-output section-entire">
			<div role="toolbar" class="output-config">
				<details  open>
					<summary role="heading" class="section-heading">Entire Controll</summary>
					<div>
						<label>Analysis<button id="button-start-stop" type="button" class="remarkable" v-on:click="toggleAnalysis">{{ actionMessage }}</button></label>
					</div>
					<div>
						<label>Sample Rate<output id="output-samplerate">{{ sampleRate }}</output>Hz</label>
					</div>
					<div>
						<label>Window Size<select id="select-fftsize" v-model="fftSize">
							<option v-for="fftSize in fftSizes">{{ fftSize }}</option>
						</select></label>
					</div>
					<div>
						<label>Loudness<input id="input-loudness" type="number" step="1.0" v-model="loudness"></label>
					</div>
					<div>
						<label>Time Frames<input id="input-numframes" type="number" min="1" max="10000" v-model="numFrames"></label>
					</div>
				</details>
			</div>
		</section>
		<div id="output-sections">
			<section class="section-output">
				<div role="toolbar" class="output-config">
					<div role="heading" class="section-heading">Wave</div>
					<div>
						<label>Amplitude Scale<input id="input-wavescale" type="number" step="1.0" v-model="waveScale"></label>
					</div>
				</div>
				<output>
					<div>
						<canvas id="cvs-wave-tick" class="canvas-tick" width="70" height="100"></canvas>
					</div>
					<div>
						<canvas id="cvs-wave" class="canvas-graph" width="640" height="100"></canvas>
					</div>
				</output>
			</section>
			<section class="section-output">
				<div role="toolbar" class="output-config">
					<div role="heading" class="section-heading">Time-Frequency</div>
				</div>
				<output>
					<div>
						<canvas id="cvs-frequency-tick" class="canvas-tick" width="70" height="480"></canvas>
					</div>
					<div>
						<canvas id="cvs-frequency" class="canvas-graph" width="640" height="480"></canvas>
					</div>
				</output>
			</section>
			<section class="section-output">
				<div role="toolbar" class="output-config">
					<div role="heading" class="section-heading">Chroma (1)</div>
				</div>
				<output>
					<div>
						<canvas id="cvs-chroma1-tick" class="canvas-tick" width="70" height="240"></canvas>
					</div>
					<div>
						<canvas id="cvs-chroma1" class="canvas-graph" width="640" height="240"></canvas>
					</div>
				</output>
			</section>
			<section class="section-output">
				<div role="toolbar" class="output-config">
					<div role="heading" class="section-heading">Chroma (2)</div>
				</div>
				<output>
					<div>
						<canvas id="cvs-chroma2-tick" class="canvas-tick" width="70" height="240"></canvas>
					</div>
					<div>
						<canvas id="cvs-chroma2" class="canvas-graph" width="640" height="240"></canvas>
					</div>
				</output>
			</section>
			<section class="section-output">
				<div role="toolbar" class="output-config">
					<div role="heading" class="section-heading">Chroma (3)</div>
				</div>
				<output>
					<div>
						<canvas id="cvs-chroma3-tick" class="canvas-tick" width="70" height="240"></canvas>
					</div>
					<div>
						<canvas id="cvs-chroma3" class="canvas-graph" width="640" height="240"></canvas>
					</div>
				</output>
			</section>
		</div>
	</main>
</body>
</html>